.topbar {
    position: relative;
    padding: 0 35px;

    z-index: 1;
    box-shadow: 0px 4px 4px 0px #00000040;

    @include flexbox($justify: space-between, $align: center);
    height: 91px;
    background: black;

    a {
        @include text($fontSize: 24px, $fontWeight: 500);
        color: white;
    }

    img {
        width: 178px;
        height: 60px;
    }
}
